.button_header {
    width: 224px;
    height: 52px;
    background: #54BA2D;
    border-radius: 68px;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}