.header_link_modal {
    position: absolute;
    width: 310px;
    min-height: 320px;
    left: 360px;
    top: 209px;
    background: rgba(58, 60, 72, 0.98);
    border-radius: 17px;
    padding: 16px 24px 17px 32px;
}
.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d2d3d8;
    transition: all 500ms;
    &-link {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 273%;
    }

    #stroke {
        stroke: #d2d3d8;
    }
}
.modal:hover {
    color: #ef4d3f;
    #stroke {
        stroke: #ef4d3f;
    }
}
